= form_for @cinelist do |f|
  - if @cinelist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cinelist.errors.count, "error")} prohibited this cinelist from being saved:"
      %ul
        - @cinelist.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :object_response
    = f.text_field :object_response
  .actions
    = f.submit 'Save'
